from datetime import date


credit_card_holder_first_name = ''
credit_card_holder_last_name = ''
credit_card_holder_dob: date = date(2000, 1, 1)
sbi_card_last_4_digits = '0000'

sql_server_name = ''
sql_db_name = ''
sql_user_name = ''
sql_password = ''
